@{
    ViewBag.Title = "Home Page";
} <div class="jumbotron"><h1>Cargo Management System</h1><p class="lead">Get the best Air Cargo Management Software by Cargo MVC to manage and transform your Air Cargo Operations!</p></div> <div class="row">
    <div>
        <h2>
            The One-Stop for- Digital Air Cargo Solutions  With Cargo MVC
        </h2>

        <h3>
            Book, Schedule, and Track cargo on the go
        </h3><p>Book your Carggo, Just one click away !</p>


    </div>
</div>