@*@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml"; } *@
@{
    ViewBag.Title = "Display";
} <div class="jumbotron">
    <h2>Congratulations, You are a valuable Customer...</h2>
    <p class="lead">We ensures that the process becomes hassle-free and error-free and that the shipments are managed efficiently</p>
</div>